{% extends 'base.html' %}

{% block content %}
<H3 class=" m-2">Frases</H3>
<a href="#" class="btn btn-success m-2"><i class="bi bi-plus-square"></i></a>
<a href="#" class="btn btn-primary m-2">Crear Sesión</a>
<div class="card m-2">
  <div class="card-header">
    <h4>Frase 1<input class="form-check-input ml-3" type="checkbox" id="flexSwitchCheckChecked" ></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    <a href="#" class="btn btn-warning"><i class="bi bi-ear"></i></i></a>
  </div>
</div>
<div class="card m-2">
  <div class="card-header">
    <h4>Frase 2<input class="form-check-input ml-3" type="checkbox" id="flexSwitchCheckChecked" checked></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    <a href="#" class="btn btn-warning"><i class="bi bi-ear"></i></a>
  </div>
</div>
<div class="card m-2">
  <div class="card-header">
    <h4>Frase 3<input class="form-check-input ml-3" type="checkbox" id="flexSwitchCheckChecked" ></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    <a href="#" class="btn btn-warning"><i class="bi bi-ear"></i></a>
  </div>
</div>
<div class="card m-2">
  <div class="card-header">
    <h4>Frase 4<input class="form-check-input ml-3" type="checkbox" id="flexSwitchCheckChecked" checked></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    <a href="#" class="btn btn-warning"><i class="bi bi-ear"></i></a>
  </div>
</div>
<div class="card m-2">
  <div class="card-header">
   <h4>Frase 5<input class="form-check-input ml-3" type="checkbox" id="flexSwitchCheckChecked" ></h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    <a href="#" class="btn btn-warning"><i class="bi bi-ear"></i></a>
  </div>
</div>
{% endblock %}