{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 py-4">
    <div class="row">
        <div class="col-md-12 pb-4">
            <div class="row">
                <div class="col-md-10  ">
                    <h1>
                        Sesión 1
                    </h1>
                </div>
                <div class="col-md-auto  ">
                    <form class="form-inline">
                        <button class="btn btn-success btn-large d-inline-block ml-4" type="submit">
                            Completada
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <div class="card m-2">
                <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>.
                        Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea
                        dictumst.</h5>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-mic-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-volume-up-fill"></i></a>
                        <a class="btn btn-outline-secondary" href="#"><i class="bi bi-repeat"></i></a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-success btn-large " type="submit">Bien</button>
                        <button class="btn btn-warning btn-large" type="submit"> Dificil</button>
                        <button class="btn btn-primary btn-large" type="submit">Modificar</button>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}