{% extends 'base.html' %}

{% block content %}
<H3 class=" ml-4">Users</H3>
<div class="card-deck m-3">
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
</div>
<div class="card-deck m-3">
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
  <div class="card ">
    <div class="card-body">
      <h5 class="card-title">User 1</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit cum quisquam, nulla modi
        ut eaque, ea ipsa eum repudiandae alias ullam porro</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary"><i class="bi bi-box-arrow-in-right lead"></i></a>
    </div>
  </div>
</div>
{% endblock %}